{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
    <div class="container text-center">
        <h1>About Me</h1>
        <img src="https://scontent.ftij3-1.fna.fbcdn.net/v/t1.6435-9/84118589_3691295834243988_5153606811240103936_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGw7HT5LDizs3XA-K2GXxEjE0SrDsC0CCcTRKsOwLQIJzAvOA25f4Vxi6L7pTE3PFEOEDwBUE6Tn3HwNn61O3kF&_nc_ohc=xK222ltZoTAAX8nQ9zl&tn=SEa9gkB1-Cjq0x1y&_nc_ht=scontent.ftij3-1.fna&oh=00_AT_7HWwvAxvyo-5DHd2aXU3AZMA-fVbJqwXHVhtNHzoC9g&oe=6313AF3E" class="img-thumbnail" alt="profile_picture" style="max-width: 200px; border: 5px solid  #0275d8; margin: 10px;">
        <p>My name is Edgar Castillo, I am an informatic engineer.</p>
    </div>
{% endblock content %}